@import url(reset.css);

.b-friends {
    margin: 10px;
}

.b-friends__item {
    margin: 20px 0;
}

.b-friends__name {
    font-size: 20px;
    font-weight: 700;
}

.b-tabs__header {
    overflow: hidden;
}

.b-tabs__item {
    float: left;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.b-form {
    margin: 30px;
}

.b-form .ng-invalid.ng-dirty,
.b-guests-form .ng-invalid.ng-dirty {
    border-color: lightpink;
}

.b-form .ng-valid.ng-dirty,
.b-guests-form .ng-valid.ng-dirty {
    border-color: lightgreen;
}

.b-form__input {
    display: block;
    margin: 10px 0;
}

.b-choice-place, .b-choice-place__bars, .b-form__btn {
    margin-top: 20px;
}

.b-choice-place__item {
    display: block;
}

.b-guest {
    width: 800px;
    margin: 100px auto;
    border: 3px solid #000;
    background-color: beige;
}

.b-guest__table {
    width: 700px;
    margin: 0 auto;
    background-color: aliceblue;
}

.b-guest__title {
    margin: 10px 0;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.b-guest__table td {
    padding: 5px;
    border: 1px solid #000;
}

.active {
    border: 1px solid red;
}

.b-guests-form__field {
    display: block;
    margin-top: 10px;
}

.b-guests-form__control {
    margin-top: 10px;
}

.b-guest__table p {
    border: 1px solid #000000;
    padding: 5px;
}