<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!--урок 1-->
    <div class="b-friends" ng-controller="firstCtrl">
        <div>{{'Hello: ' + (1 + 1)}}</div>
        <div class="b-friends__item" ng-repeat="item in friends" ng-show="!item.isGigolo && item.isAdule">
            <h2 class="b-friends__name">{{item.name}}</h2>
            <div>{{item.introdaction}}</div>
        </div>
    </div>

    <!--урок 2-->
    <div class="b-tabs" ng-controller="tabsCtrl">
        <div class="b-tabs__header">
            <div ng-repeat="item in newYear" class="b-tabs__item" ng-class="{active:showTabs($index + 1)}" ng-click="setNumbOfTabs($index + 1)">{{$index + 1}}<p>{{showTabs($index + 1)}}</p></div>
            <!--<div class="b-tabs__item" ng-click="setNumbOfTabs(2)">2</div>
            <div class="b-tabs__item" ng-click="setNumbOfTabs(3)">3</div>-->
        </div>
        <div class="b-tabs__description" ng-repeat="item in newYear" ng-show="showTabs($index + 1)">
            <h2>{{item.label | uppercase}}</h2>
            <p>{{item.info}}</p>
            <p>{{item.cost | currency: '€'}}</p>
            <img ng-src='{{item.img}}'>
            <p>{{item.dateStart | date:'yyyy (dd.MM) h:mm a'}}</p>
            <p>{{item.dateEnd | date:'yyyy (dd.MM) h:mm a'}}</p>
            <p>{{'ng-show = ' + numbOfTab + ' == ' + ($index + 1)}}</p>
        </div>
        <div class="active">{{numbOfTab}}</div>
    </div>

    <!--урок 2 - home task-->
    <div ng-controller="formCtrl">

        <form class="b-form" name="myForm" novalidate>
            <div>{{$scope.myForm}}</div>
                <label class="b-form__field">Имя
                    <input class="b-form__input" name="firstName" type="text" ng-model="firstNameMod" ng-required="requireValue"
                            ng-minlength="2" ng-maxlength="20" ng-pattern="patternOfName">
                </label>
                <label class="b-form__field">Фамилия
                    <input class="b-form__input" name="secondName" type="text" ng-model="secondNameMod" ng-required="requireValue"
                           ng-minlength="2" ng-maxlength="40" ng-pattern="patternOfName">

                </label>
                <label class="b-form__field">Телефон
                    <input class="b-form__input" name="phone" type="tel" ng-model="phoneMod" ng-maxlength="11" ng-pattern="/[0-9]/">
                </label>
                <textarea class="b-form__input" ng-model="commentMod" ng-maxlength="200"></textarea>
                <div class="b-form__count">
                    <!--radio-->
                    <label class="b-form__field" ng-repeat="item in turOption.type">
                        <input class="b-form__radio" type="radio" name="radio" value="{{item.id}}" ng-model="result.type" ng-change="typeChange(item.id)">
                        {{item.title}}
                    </label>
                    <!--tabs-->
                    <div class="b-choice-place" ng-show="comparisonType(1)">
                        <label class="b-choice-place__item" ng-repeat="item in turOption.events | filter : {typeId: 1}">
                            <input class="b-choice-place__point" type="checkbox" name="{{item.id}}" ng-model="result.events" value="{{item.id}}">
                            {{item.title}}
                        </label>
                    </div>
                    <div class="b-choice-place" ng-show="comparisonType(2)">
                        <label class="b-choice-place__item" ng-repeat="item in turOption.events | filter : {typeId: 2}">
                            <input class="b-choice-place__point" type="checkbox" name="{{item.id}}" ng-model="result.events" value="{{item.id}}">
                            {{item.title}}
                        </label>
                        <select class="b-choice-place__bars" ng-show="">
                            <option ng-repeat="item in turOption.bars">{{item.title}}</option>
                        </select>
                    </div>
                </div>
                <button class="b-form__btn" type="submit" ng-disabled="myForm.$invalid">Заказать тур</button>
        </form>

        <div>ng-required: {{myForm.firstName.$error.required}}</div>
        <div>ng-minlength="2": {{myForm.firstName.$error.minlength}}</div>
        <div>ng-maxlength="20": {{myForm.firstName.$error.maxlength}}</div>
        <div>ng-pattern: {{myForm.firstName.$error.pattern}}</div>
        <div>input is valid: {{myForm.firstName.$valid}}</div>

    </div>

    <!--урок 3 - home task-->
    <div class="b-guest" ng-controller="crudCtrl">

        <h2 class="b-guest__title">Home task - lesson 3</h2>
        <table class="b-guest__table">
            <tr>
                <td>#</td>
                <td>Имя</td>
                <td>Номер столика</td>
                <td>Взрослый (будет пить)?</td>
                <td>Чтобы такое сделать?</td>
            </tr>
            <tr ng-repeat="guest in guests">
                <td>{{$index + 1}}</td>
                <td>{{guest.name}}</td>
                <td>{{guest.tableNumber}}</td>
                <td>{{renderIsAdult(guest.isAdult)}}</td>
                <td>
                    <button ng-click="editGuest(guest)">edit</button>
                    <button ng-click="deleteGuest(guest)">delete</button>
                </td>
            </tr>
        </table>

        <h3>Add guest</h3>
        <form class="b-guests-form" name="myGuestsForm" novalidate>
            <label class="b-guests-form__field">
                <input class="b-guests-form__input" name="name" type="text" value="{{newGuest.name}}" ng-model="newGuest.name" ng-required="requiredField" ng-pattern="/[а-яА-ЯёЁa-zA-Z]+$/">
                Имя
            </label>
            <label class="b-guests-form__field">
                <input class="b-guests-form__input" name="table" type="text" value="{{newGuest.tableNumber}}" ng-model="newGuest.tableNumber" ng-required="requiredField" ng-pattern="/[0-9]/">
                Номер столика
            </label>
            <div class="b-guests-form__adult">
                <label><input type="radio" name="isAdult" ng-model="newGuest.isAdult" value="{{1}}" ng-required="requiredField">Да</label>
                <label><input type="radio" name="notAdult" ng-model="newGuest.isAdult" value="{{0}}">Нет</label>
                <p>{{isAdult}}</p>
            </div>
            <div class="b-guests-form__control">
                <button type="submit" ng-click="addNewGuest()" ng-disabled="myGuestsForm.$invalid">Save</button>
            </div>
            <div>
                <p>myGuestsForm.name.$valid = {{myGuestsForm.name.$valid}}</p>
                <p>myGuestsForm.name.$error = {{myGuestsForm.name.$valid}}</p>
                <p>myGuestsForm.table.$valid = {{myGuestsForm.table.$valid}}</p>
                <p>myGuestsForm.table.$error = {{myGuestsForm.table.$valid}}</p>
                <p>myGuestsForm.isAdult.$valid = {{myGuestsForm.isAdult.$valid}}</p>
                <p>myGuestsForm.notAdult.$valid = {{myGuestsForm.notAdult.$valid}}</p>

                <p>myGuestsForm.$valid = {{myGuestsForm.$valid}}</p>
            </div>
        </form>
    </div>

    <!--урок 3 - home task-->
    <div class="b-guest" ng-controller="crudUserCtrl">

        <h2 class="b-guest__title">Home task - lesson 4</h2>
        <table class="b-guest__table">
            <tr>
                <td>#</td>
                <td>Имя</td>
                <td>Номер</td>
                <td>Действие</td>
            </tr>
            <tr ng-repeat="user in usersNew">
                <td>{{$index + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.number}}</td>
                <td>
                    <button ng-click="editUser(user)">edit</button>
                    <button ng-click="deleteUser(user)">delete</button>
                </td>
            </tr>
        </table>

        <h3>Add user</h3>
        <form class="b-guests-form" name="userForm" novalidate>
            <label class="b-guests-form__field">
                <input class="b-guests-form__input" name="name" type="text" value="{{newUser.name}}" ng-model="newUser.name" ng-required="requiredField" ng-pattern="/[а-яА-ЯёЁa-zA-Z]+$/">
                Имя
            </label>
            <label class="b-guests-form__field">
                <input class="b-guests-form__input" name="table" type="text" value="{{newUser.number}}" ng-model="newUser.number" ng-required="requiredField" ng-pattern="/[0-9]/">
                Номер
            </label>
            <div class="b-guests-form__control">
                <button type="submit" ng-click="addNewUser()" ng-disabled="userForm.$invalid">Save</button>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->
    <!--<script src="js/angular.min.js"></script>-->
    <script src="js/main.js"></script>
    <script src="js/crudServise.js"></script>
</body>
</html>